@font-face 
    {font-family: "Oswald"; 
    src: url("fonts/oswald/Oswald-Regular.ttf"); 
    font-weight: 500;
}

@font-face 
    {font-family: "Oswald-Light"; 
    src: url("fonts/oswald/Oswald-Light.ttf"); 
    font-weight: 200;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
     
h1 {
    color: blue; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Roboto';
}

#bio-header {
    color: brown;
}

#skills-header {
    color: green;
}

.content {
    color: grey; 
    font-size: 24px; 
    font-family: 'Oswald-Light';
    text-align: justify;
    line-height: 50px;
}

.bold {
    font-weight: bold;
}

.img-div {
    background-color: lightblue;
}

img {
    width: 14%;
    box-shadow: 2px 2px 2px black;
    margin: 1%;
}

#img1 {display: none;}

.login-div {
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px #777777;
    display: inline-block;

}

.login-div input {
    display: block;
    margin-bottom: 7px;
}

.login-div input[type="email"]{
    border: solid 1px blue;
}

.login-div input[type="password"]{
    border: solid 1px red;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px #c0c0c0;}
}

ul li:last-child {
    text-decoration: underline;
}

ul li:first-child {
    color: red;
}

ul li:nth-child(2) {
    coloer: blue;
}

